body {
  background: #fef68a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pikachu {
  position: relative;
  width: 200px;
  height: 200px;
}

.ears .ear {
  width: 30px;
  height: 80px;
  background: #fbd100;
  border-radius: 20px 20px 0 0;
  position: absolute;
  top: 0;
}

.ear.left {
  left: -10px;
  transform: rotate(-20deg);
}

.ear.right {
  right: -10px;
  transform: rotate(20deg);
}

.ears .ear::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 30%;
  background: black;
  border-radius: 20px 20px 0 0;
}

.face {
  background: #fbd100;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: relative;
}

.eye {
  width: 25px;
  height: 25px;
  background: black;
  border-radius: 50%;
  position: absolute;
  top: 60px;
}

.eye.left {
  left: 40px;
}

.eye.right {
  right: 40px;
}

.cheek {
  width: 30px;
  height: 30px;
  background: red;
  border-radius: 50%;
  position: absolute;
  top: 110px;
}

.cheek.left {
  left: 20px;
}

.cheek.right {
  right: 20px;
}

.nose {
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 50%;
  position: absolute;
  top: 85px;
  left: 50%;
  transform: translateX(-50%);
}

.mouth {
  position: absolute;
  top: 120px;
  left: 50%;
  width: 60px;
  height: 20px;
  border-bottom: 4px solid black;
  border-radius: 0 0 50px 50px;
  transform: translateX(-50%);
}